#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Asset Tracker Template"

rsource "src/Kconfig.main"
rsource "src/modules/power/Kconfig.power"
rsource "src/modules/uart_power_control/Kconfig.uart_power_control"
rsource "src/modules/network/Kconfig.network"
rsource "src/modules/cloud/Kconfig.cloud"
rsource "src/modules/location/Kconfig.location"
rsource "src/modules/led/Kconfig.led"
rsource "src/modules/fota/Kconfig.fota"
rsource "src/modules/environmental/Kconfig.environmental"
rsource "src/modules/button/Kconfig.button"
rsource "src/modules/storage/Kconfig.storage"
rsource "src/modules/survey/Kconfig.survey"
rsource "memfault/Kconfig.memfault"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
